/*select.ng-touched.ng-invalid,input.ng-touched.ng-invalid{*/
/*border: 1px solid red;*/
/*!*background-color: red;*!*/
/*}*/

.vertical-center{
  display: flex;
  align-items: center;
}
.horizontal-center{
  display: flex;
  justify-content: center;
}
.input-group{
  margin-bottom: 2px;
}

.whiteText{
  color: white;
}

input.ng-invalid.ng-touched {
  border: 1px solid rgba(0, 0, 0, 0.61);
  /*background-color: red;*/
}


@media (max-width: 768px) {
  #loginContainer{
    width: 100%;
  }
}
@media (min-width: 768px) {
  #loginContainer{
    width: 100%;
  }
  #loginContainer.isItSignUpPage{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
