
.border{
  border: 1px solid white;
}

.vertical-center{
  display: flex;
  align-items: center;
}
.horizontal-center{
  display: flex;
  justify-content: center;
}
.input-group{
  margin-bottom: 2px;
}

.whiteText{
  color: white;
}


@media (max-width: 768px) {
  #loginContainer{
    width: 100%;
  }
}
@media (min-width: 768px) {

  #loginContainer{
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
